<main class="aboutMain">
    <h1 class="pageHeader">About</h1>
    <h3 class="aboutHeader">Background</h3>
    <p>Hi! My name is Kevin and I am a software engineer originally from Washington, living in Portland, Oregon. I have a passion for programming and I enjoy working on both the front-end and the back-end. My goal is to become a full-stack developer and to continually add to my skill set and learn new languages and frameworks.</p>
    <p>I am currently in Epicodus, a coding bootcamp based in Portland, Oregon, and am taking the C# / React Track. I enjoy using <span class="enjoyments">HTML</span>, <span class="enjoyments">CSS</span> and <span class="enjoyments">JavaScript</span>, along with <span class="enjoyments">BootStrap</span>, <span class="enjoyments">jQuery</span>, <span class="enjoyments">Angular</span> and <span class="enjoyments">React</span> for the front-end. For the back-end, I enjoy using <span class="enjoyments">C#/.NET</span> with the <span class="enjoyments">Entity</span> framework, <span class="enjoyments">SQL</span> and <span class="enjoyments">MySQL</span></p>

    <h3 class="aboutHeader">Education</h3>
    <h4>Epicodus, November 2018</h4>
    <h6>Coding bootcamp, taking the C# / React Track</h6>
    <h4>University of Florida, Gainesville, April 2018</h4>
    <h6>Master of Business Administration</h6>
    <h4>University of Washington, Seattle, June 2015</h4>
    <h6>Bachelor of Arts in Psychology and Sales Certificate from the Foster Business School</h6>

    <h3 class="aboutHeader">Hobbies</h3>
    <ul>
        <li class="hobby">Coding</li>
        <li class="hobby">Playing Drums</li>
        <li class="hobby">MMA and Brazilian Jiu-Jitsu</li>
        <li class="hobby">Reading</li>
        <li class="hobby">WeightLifting</li>
        <li class="hobby">Bouldering</li>
        <li class="hobby">Learning new skills</li>
    </ul>
</main>