.aboutMain {
    text-align: left;
    max-width: 50%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.2rem;
    p {
        margin: 0;
    }
    .pageHeader {
        margin: 3rem auto 0 auto;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

ul {
    margin-top: 0;
}

.aboutHeader {
    border-bottom: 1px lightgray solid;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 1.75rem;
}

.enjoyments {
    font-weight: bold;
    font-size: 1.5rem;
}

.hobbies {
    padding: 0;
}

.hobby {
    list-style: none;
}

@media screen and (max-width: 1300px) {
    .aboutMain {
        max-width: 65%;
    }
}

@media screen and (max-width: 540px) {
    .aboutMain {
        max-width: 80%;
        font-size: 1rem;
        h4 {
            font-size: 1rem;
            font-weight: bold;
        }
        h6 {
            font-size: 1rem;
        }
    }

    .pageHeader {
        font-size: 1.7rem;
    }

    .aboutHeader {
        font-size: 1.4rem;
    }

    .enjoyments {
        font-size: 1.2rem;
    }
}