.aboutMain {
    text-align: left;
    max-width: 50%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.2rem;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
    .pageHeader {
        margin: 3rem auto 0 auto;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .aboutHeader {
        border-bottom: 1px lightgray solid;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 2rem;
        font-size: 1.75rem;
    }
    p {
        margin: 0;
        .enjoyments {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    ul {
        margin-top: 0;
        padding: 0;
        .hobby {
            list-style: none;
        }
    }
}

//Media Queries
@media screen and (max-width: 1300px) {
    .aboutMain {
        max-width: 65%;
    }
}

@media screen and (max-width: 540px) {
    .aboutMain {
        max-width: 80%;
        font-size: 1rem;
        .pageHeader {
            font-size: 1.7rem;
        }
        .aboutHeader {
            font-size: 1.4rem;

        }
        h4 {
            font-size: 1rem;
            font-weight: bold;
        }
        h6 {
            font-size: 1rem;
        }
        .enjoyments {
            font-size: 1.2rem;
        }
    }
}