@import '../../scss/variables';

.myName {
    margin-top: 3rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 50%;
    color: black;
    font-size: 2rem;
}

.navLinks {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 110px;
    line-height: 1.5;
    a {
        color: black;
        text-align: center;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background: $custom-blue;
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: .25s linear;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
    i {
        margin-right: 5px;
    }
}

.icons {
    display: inline-block;
}

.pageLink {
    margin: 10px auto;
    width: 100%;
    font-size: 1.3rem;
}

.currentPage {
    color: $custom-blue !important;
    font-weight: bold;
}

@media screen and (max-width: 1720px) {
    .myName {
        font-size: 1.6rem;
    }

    .pageLink {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1450px) {
    .myName {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1300px) {
    .myName {
        font-size: 1.7rem;
        padding: 5%;
    }

    .pageLink {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 750px) {
    .myName {
        font-size: 2.5rem;
        margin: 1rem auto;
    }

    .navLinks {
        width: 130px;
    }

    .pageLink {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .myName {
        font-size: 1.7rem;
    }

    .pageLink {
        font-size: 1rem;
    }

    .navLinks {
        width: 90px;
    }
}