@import '../../scss/variables';
main {
    height: 100%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}
.contactWays {
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
}
.pageHeader {
    margin: 3rem auto 0 auto;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
p {
    margin-top: 0;
}
.email {
    a {
        color: black;
        text-align: center;
        position: relative;
        text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            bottom: 0;
            left: 0;
            background-color: rgba($custom-blue, 0.3);
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: .25s linear;
        }
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
    span {
        visibility: hidden;
    }
}
.socialIcon {
    border-radius: 50%;
    margin: 10px;
    transition: .5s;
    border-radius: 50%;
    background-color: white;
    &:hover {
        background-color: rgba($custom-blue, 0.3);
        border-radius: 50%;
    }
}
.plane {
    width: 200px;
    position: absolute;
    margin-top:90px;
    z-index: -1;
    -moz-animation: planeTransition 7s infinite;
    -webkit-animation:planeTransition 7s infinite;
    animation: planeTransition 7s infinite;
}
@-moz-keyframes planeTransition {
    from {
        margin-left: -73%;
        margin-top: -20%;
    }
    to {
        margin-left: 53%;
        margin-top: -40%;
    }
}
@-webkit-keyframes planeTransition {
    from {
        margin-left: -73%;
        margin-top: -20%;
    }
    to {
        margin-left: 53%;
        margin-top: -40%;
    }
}
@keyframes planeTransition {
    from {
        margin-left: -73%;
        margin-top: -20%;
    }
    to {
        margin-left: 53%;
        margin-top: -40%;
    }
}
//Media Queries
@media screen and (max-width: 750px) {
    .plane {
        width: 150px;
        -moz-animation: planeTransition 5s infinite;
        -webkit-animation:planeTransition 5s infinite;
        animation: planeTransition 5s infinite;
    }
    @-moz-keyframes planeTransition {
        from {
            margin-left: -100%;
            margin-top: -40%;
        }
        to {
            margin-left: 60%;
            margin-top: -60%;
        }
    }
    @-webkit-keyframes planeTransition {
        from {
            margin-left: -100%;
            margin-top: -40%;
        }
        to {
            margin-left: 60%;
            margin-top: -60%;
        }
    }
    @keyframes planeTransition {
        from {
            margin-left: -100%;
            margin-top: -40%;
        }
        to {
            margin-left: 60%;
            margin-top: -60%;
        }
    }
}
@media screen and (max-width: 500px) {
    span {
        display: block;
    }
}