<main>
    <h1 class="pageHeader">Contact</h1>
    <div class="contactWays">
        <p>Please feel free to connect with me!</p>
        <div class="email"><a class="theEmail" href="mailto:kevinahn7@hotmail.com"><span>i</span>kevinahn7@hotmail.com<span>i</span></a></div>
        <div class="social">
            <a href="https://www.facebook.com/kevin.ahn.1088" target="_blank"><img src="assets/facebook.png" alt="The FaceBook logo" class="socialIcon"></a>
            <a href="https://www.instagram.com/kevinahn3/" target="_blank"><img src="assets/Instagram.png" alt="The Instagram logo" class="socialIcon"></a>
            <a href="https://www.linkedin.com/in/kevin-ahn-61174aa6/" target="_blank"><img src="assets/linkedin.png" alt="The LinkedIn logo" class="socialIcon"></a>
            <a href="https://github.com/kevinahn7" target="_blank"><img src="assets/Github.png" alt="The GitHub logo" class="socialIcon"></a>
        </div>
    </div>
</main>