<main>
    <h1 class="pageHeader" [@fadeInDown]="fadeInDown">Portfolio</h1>
    <select (change)="onChange($event.target.value)" class="form-control dropdown">
        <option value="all" selected="selected">All</option>
        <option value="HTML">HTML/CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Angular">Angular</option>
        <option value="C#">C#/.NET</option>
        <option value="React">React</option>
        <option value="Redux">Redux</option>
        <option value="Vue">Vue</option>
        <option value="D3">D3</option>
    </select>
    <div class="portfolioGrid">
        <div *ngFor="let project of projects | async | skillFilter: selectedSkill" class="project">
            <a href={{project.url}} target="_blank"><img src={{project.image}} /></a>
            <h3>{{project.name}}</h3>
            <span *ngFor="let skill of getSkills(project)">{{skill}}</span>
            <p>{{project.description}}</p>
        </div>
    </div>
</main>