@import "../scss/variables";

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: 
        'nav main';
    height: 100%;
    nav {
        grid-area: nav;
        position: fixed;
        background-color: white;
        width: 10%;
        height: 100%;
        border-right: rgba(173, 173, 173, .7) 1px solid;
        z-index: 1;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    main {
        grid-area: main;
        text-align: center;
        padding-bottom: 50px;
    }
}

footer {
    background-color: #efefef;
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    height: 50px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Media Queries
@media screen and (max-width: 1300px) {
    .content {
        grid-template-columns: 15% 85%;
        nav {
            width: 15%;
        }
    }
}

@media screen and (max-width: 940px) {
    footer {
        height: 30px;
    }
}

@media screen and (max-width: 750px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav'
            'main';
        nav {
            border-bottom: rgba(173, 173, 173, .7) 1px solid;
            border-right: none;
            padding-bottom: 2rem;
            width: 100%;
            position: static;
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        height: 25px;
    }
}