h1, h4 {
    margin: 20px auto;
}

form, .editForm {
    margin: 0 auto;
    width: 75%;
    max-width: 670px;
}

.formButton {
    width: 100%;
    margin: 0 0 20px 0;
}

.choices {
    margin-top: 30px;
}

ul {
    list-style: none;
}

#description {
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    .choices {
        button {
            display: block;
            margin: 10px auto;
            width: 75%;
        }
        
    }
}