<main>
    <img src="../assets/me.jpeg" class="me" alt="A picture of me">
    <h2 class="myself">Kevin Ahn</h2>
    <h3>Software Programmer</h3>
    <div class="mySkills">
        <span class="skills">JavaScript</span>
        <span class="skills">HTML</span>
        <span class="skills">CSS</span>
        <span class="skills">Sass</span>
        <span class="skills">Git</span>
        <span class="skills">BootStrap</span>
        <span class="skills">C#</span>
        <span class="skills">.NET</span>
        <span class="skills">jQuery</span>
        <span class="skills">Angular</span>
        <span class="skills">React</span>
        <span class="skills">Entity</span>
        <span class="skills">SQL</span>
    </div>
</main>