.me {
    border-radius: 50%;
    margin-top: 5rem;
}

.myself {
    margin-top: 2rem;
}

.mySkills {
    width: 70%;
    margin: 3rem auto 0 auto;
}

.skills {
    font-size: 1.3rem;
    margin: 20px;
}